.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 0 200px;
  background-color: #60d8f9;
}
a {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #3e96af;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
